#socialShare {
  cursor:pointer;
  position: fixed;
  right: 0;
  top: 50.6vh;
  background: rgba(0, 33, 66, 1);
  z-index: 10;
  .shareButton {
    width: 45px;
    height: 45px;
    padding: 10px;
    transition: opacity 200ms linear;
    &:hover {
      opacity: 0.7;
      transition: opacity 200ms linear;
    }
    &:before {
      content: ' ';
      display: block;
      height: 100%;
      width: 100%;
      background-image: url("../icons/share.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .socialShareContainer {
    display:none;
    > div {
      width: 45px;
      height: 45px;
      padding: 10px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        &:after {
          content: ' ';
          display: block;
          height: 100%;
          width: 100%;
        }
        &.whatsapp_icon {
          &:after {
            background-image: url("../icons/whatsapp.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.facebook_icon {
          &:after {
            background-image: url("../icons/facebook.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.twitter_icon {
          &:after {
            background-image: url("../icons/twitter.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.google_icon {
          &:after {
            background-image: url("../icons/google_plus.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.pinterest_icon {
          &:after {
            background-image: url("../icons/pinterest.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.linkedin_icon {
          &:after {
            background-image: url("../icons/linkedin.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.reddit_icon {
          &:after {
            background-image: url("../icons/reddit.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.tumblr_icon {
          &:after {
            background-image: url("../icons/tumblr.min.svg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
      &.google_container {
        background-color: #dd4b39;
      }

      &.facebook_container {
        background-color: #3b5998;
      }

      &.twitter_container {
        background-color: #55acee;
      }

      &.whatsapp_container {
        background-color: #4dc247;
      }

      &.pinterest_container {
        background-color: #cb2027;
      }

      &.linkedin_container {
        background-color: #007bb5;
      }

      &.reddit_container {
        background-color: #ff4500;
      }

      &.tumblr_container {
        background-color: #32506d;
      }
      transition: opacity 200ms linear;
      &:hover {
        opacity: 0.7;
        transition: opacity 200ms linear;
      }
    }
  }
}
